.add-item {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.item-name-input {
    width: 100%;
    padding: 5px;
}