.about-top-section {
  max-width: 600px;
  margin: 50px auto;
  justify-items: center;
}

.about-title {
  margin-bottom: 16px;
  color: #3e67d6;
}

.about-text {
  margin-bottom: 5vw;
}

.about-box-section {
  display: flex;
  gap: 20px;
  margin: 0px 20vw 5vw 20vw;
}

.section-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #3e67d6;
}

.section-picture {
  width:23vw;
}

img {
  width: -webkit-fill-available;
  border-radius: 6px;
}

