.about-top-section {
  max-width: 600px;
  margin: 40px auto;
  padding: 0 20px;
  justify-items: center;
}

.about-title {
  margin-bottom: 16px;
  color: #3e67d6;
}

.about-text {
  margin-bottom: 10px;
}

.about-box-section {
  display: flex;
  gap: 20px;
  margin: 0px 30px 60px 30px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #3e67d6;
}

.section-picture {
  width: 50vw;
}

img {
  width: -webkit-fill-available;
}

