.home-page {
  display: flex;
  
}

.main-column {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 5px;
}

.store-cards {
  padding: 5px;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.new-store-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
}