.home-page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.main-column {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 5px;
}

.store-cards {
  padding: 5px;
  display: flex;
  width: 70%;
  gap: 20px;
  flex-wrap: wrap;
}

.new-store-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
}

.new-store-form {

}

.store-name-input {

}