.landing-page {
  max-width: 80vw;
  margin: 50px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeLottie {
  width: 50vw;
}

.landing-text {
  max-width: 40vw;
  margin: 50px;
  font-size: 18px;
  color: #333;
}

.landing-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-input-landing {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  width: 300px;
}

.landing-link {
  border: none;
  background-color: #3e67d6;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.landing-link:hover {
  background-color: #3457b2;
}

.features-section {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.feature-title {
  text-align: center;
  color: #3457b2;
}

.feature-frame {
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-image {
  margin:15px;
  height: 200px;
  border-radius: 6px;
}

.feature-paragraph {
  font-size: 18px;
  color: #333;
  padding: 10px;
  margin:0px;
  font-size: 16px;
}

.learn-div {
  display: flex;
  align-items: center;
}

.learn-link {
  text-decoration: none;
  background-color: #3e67d6;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}