.shopping-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.shopping-title {
  font-size: 24px;
  color: #3e67d6;
  margin-bottom: 16px;
  text-align: center;
}

.shopping-text {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  text-align: center;
}

.new-trip-page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.new-trip-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40%;
  padding: 20px;
}

.new-trip-title {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.end-trip-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 150px;
  height: 50px;
  color: white;
  font-size: large;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #3e67d6;
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

.end-trip-button:active {
  background-color: #2756d9;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
}