.shopping-page {
  width: 100%;
  height: 100%;
  /* margin: 60px auto; */
  /* padding: 20px; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.shopping-title {
  font-size: 24px;
  color: #3e67d6;
  margin-bottom: 16px;
  text-align: center;
}

.shopping-text {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  text-align: center;
}

.new-trip-page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.new-trip-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  padding: 20px;
}

.new-trip-title {
  width: 100%;
}

.end-trip-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 150px;
  height: 50px;
}
