.store-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 300px;
}

.store-name {
    align-self: center;
}

.store-items-wrapper {
    /* padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; */
    /* height: auto; */
    /* min-height: fit-content; */
    /* height: fit-content; */
    max-height: 30vh;
    overflow: scroll;
}

.unassigned-card {
    max-height: 80vh;
    overflow: scroll;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
