.store-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 300px;
}

.store-name {
    align-self: center;
}

.store-items-wrapper {
    max-height: 30vh;
    overflow: scroll;
}

.unassigned-card {
    max-height: 80vh;
    overflow: scroll; 
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.unassigned-item-cards {
    max-height: 100%;
    overflow: scroll;
}
