.store-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 300px;
    max-height: fit-content;
}

.store-name {
    align-self: center;
}

.store-items-wrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: auto; */
}

.unassigned-card {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}