.action-menu {
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    gap: 5px;
}

.action {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}