.action-menu {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    gap: 5px;
}

.action {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    transition: background-color 0.1s ease;
}

.action:active {
    background-color: gray;
    color: white;
}