.item-card {
    margin-bottom: 5px;
    padding: 5px 15px 5px 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.item-name {
    max-width: 250px;
    text-wrap: wrap;
}

.manage-item-button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: #3e67d6;
    border: 1px solid black;
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
}

.manage-item-button:active {
  background-color: #2756d9;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
}

.check-item-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    border: 1px solid black;
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
}